body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;

}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    filter: drop-shadow(0px 10px .75rem lightgray)

}

.sidebar {
    background-color: #3b82f6;
    grid-row: 1 / 3;
    color:#eff6ff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.content {
    background-color: #bfdbfe;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-container {
    grid-row: 1 / 3;
    height: 100%;
}

.announcement-container {
    grid-column: 2 / 3;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
    height: 45%;
}

.trending-container {
    grid-column: 2 / 3;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
    gap:1em;
    height: 45%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
}


.announcement-card,
.trending-card {
    background-color: #eff6ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5em;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement-card p {
    margin: .5em;
}
.trending p {
    margin: .5em;
}

.card {
    background-color: #eff6ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5em;
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.trending-card:hover,
.announcement-card:hover,
.card:hover {
    transform: translateY(-5px); /* Add a slight lift effect on hover */
}

.card p {
    margin-top: 10px; /* Add spacing between the title and paragraph */
}

.title {
    font-size: 1em; /* Adjust the title font size */
    font-weight: bold;
}

.searchbar-container {
    display: flex;
    align-items:center;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    
}

#search-icon {
    width: 1.5em;
    height: 1.5em;
}

#search {
    flex-grow:1;
    border-radius:2em;
    padding: 1em;
    border: none;
    outline: none;
    
}

.rounded-button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 1em 3em;
    margin-left: 10px;
    cursor: pointer;
}

.header-action-container {
    display: flex;
    justify-content: flex-end; /* Distribute the buttons evenly */
    align-items: center;
    margin-right: 1em; /* Add margin to separate from the header-title-container */
}

.header-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
    margin-left: 1em;
}

#account-icon {
    width:5em;
    height:5em;
}

.header-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:1em;
    margin-right:1em;
}

.sidebar-element img {
    height: 1em;
    width: 1em;
    filter: invert(1);
}

.sidebar-element {
    display: grid;
}

.sidebar-element {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1em;
    gap:1em;
}